<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Bind it!</h3>
      <ol>
        <li>Create three new components: GameControl, Odd and Even</li>
        <li>The GameControl Component should have buttons to start and stop the game</li>
        <li>When starting the game, an event (holding a incrementing number) should get emitted each second (ref =
          setInterval())</li>
        <li>The event should be listenable from outside the component</li>
        <li>When stopping the game, no more events should get emitted (clearInterval(ref))</li>
        <li>A new Odd component should get created for every odd number emitted, the same should happen for the Even
          Component (on even numbers)</li>
        <li>Simply output Odd - NUMBER or Even - NUMBER in the two components</li>
        <li>Style the element (e.g. paragraph) holding your output text differently in both components</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <!-- We know we will start with an odd number so grab those and create an index -->
      <div *ngFor="let oddNumber of oddNumbers; let i = index">
        <!-- Now assign the index to the odd and even numbers, the index starts immediately with the
          first odd number and goes up by 1 each time a new number populates, and are numbers will
          display in order 1-2-3-4-etc... -->
        <app-odd *ngIf="oddNumbers[i]" [number]="oddNumbers[i]"></app-odd>
        <app-even *ngIf="evenNumbers[i]" [number]="evenNumbers[i]"></app-even>
      </div>
    </div>
  </div>
</div>
